@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.transOptimize {
    backface-visibility: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

/* Test Classes */

.b {
    border: 1px solid red !important;
}

.bc * {
    border: 1px solid red !important;
}

.o {
    outline: 1px solid red !important;
}

.oc * {
    outline: 1px solid red !important;
}



/* Fonts */

.poetsen-one {
    font-family: "Poetsen One", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.questrial {
    font-family: "Questrial", sans-serif;
}


/* Custom CSS */